# Demonstration of loading single output file

In [1]:

import xarray as xr

ds = xr.open_dataset('/home/APD/inland_hydraulics/wrf-hydro-run/OUTPUTS/202003191900.CHRTOUT_DOMAIN1')
df = ds.to_dataframe()

In [2]:
df

,,streamflow,nudge,q_lateral,velocity,station_id,qSfcLatRunoff,qBucket
station,time,,,,,,,
0,2020-03-19 19:00:00,1.417163,0.0,0.13697,0.326531,14828145,0.0,0.13697
1,2020-03-19 19:00:00,0.630760,0.0,0.00943,0.209569,7069483,0.0,0.00943
2,2020-03-19 19:00:00,1.349287,0.0,0.00823,0.277640,7069499,0.0,0.00823
3,2020-03-19 19:00:00,4.180715,0.0,0.01241,0.385742,14172539,0.0,0.01241
4,2020-03-19 19:00:00,21.188623,0.0,0.11880,0.132911,6689073,0.0,0.11880
...,...,...,...,...,...,...,...,...
109218,2020-03-19 19:00:00,1928.978027,0.0,0.00000,0.399567,2788603,0.0,0.00000
109219,2020-03-19 19:00:00,65.375267,0.0,0.00291,0.156339,1010002381,0.0,0.00291
109220,2020-03-19 19:00:00,65.392624,0.0,0.00516,1.226495,1010002385,0.0,0.00516
109221,2020-03-19 19:00:00,65.642509,0.0,0.01860,0.156497,1010002388,0.0,0.01860
109222,2020-03-19 19:00:00,65.676132,0.0,0.00237,0.156518,1010002391,0.0,0.00237

In [3]:
df['streamflow']

station  time
0        2020-03-19 19:00:00       1.417163
1        2020-03-19 19:00:00       0.630760
2        2020-03-19 19:00:00       1.349287
3        2020-03-19 19:00:00       4.180715
4        2020-03-19 19:00:00      21.188623
                                   ...
109218   2020-03-19 19:00:00    1928.978027
109219   2020-03-19 19:00:00      65.375267
109220   2020-03-19 19:00:00      65.392624
109221   2020-03-19 19:00:00      65.642509
109222   2020-03-19 19:00:00      65.676132
Name: streamflow, Length: 109223, dtype: float32

# Demonstration of loading all output files in folder

In [4]:
# from glob import glob
# filenames = glob(xr.open_dataset('/home/APD/inland_hydraulics/wrf-hydro-run/OUTPUTS/*.CHRTOUT_DOMAIN1'))
# dataframes = [ds.to_dataframe() for f in filenames]

import pandas as pd

import glob

path = r'/home/APD/inland_hydraulics/wrf-hydro-run/OUTPUTS' # use your path

all_files = glob.glob(path + "/*.CHRTOUT_DOMAIN1")

li = []

for filename in all_files:

    df = ds.to_dataframe()

    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=False)

In [5]:
frame

,,streamflow,nudge,q_lateral,velocity,station_id,qSfcLatRunoff,qBucket
station,time,,,,,,,
0,2020-03-19 19:00:00,1.417163,0.0,0.13697,0.326531,14828145,0.0,0.13697
1,2020-03-19 19:00:00,0.630760,0.0,0.00943,0.209569,7069483,0.0,0.00943
2,2020-03-19 19:00:00,1.349287,0.0,0.00823,0.277640,7069499,0.0,0.00823
3,2020-03-19 19:00:00,4.180715,0.0,0.01241,0.385742,14172539,0.0,0.01241
4,2020-03-19 19:00:00,21.188623,0.0,0.11880,0.132911,6689073,0.0,0.11880
...,...,...,...,...,...,...,...,...
109218,2020-03-19 19:00:00,1928.978027,0.0,0.00000,0.399567,2788603,0.0,0.00000
109219,2020-03-19 19:00:00,65.375267,0.0,0.00291,0.156339,1010002381,0.0,0.00291
109220,2020-03-19 19:00:00,65.392624,0.0,0.00516,1.226495,1010002385,0.0,0.00516
109221,2020-03-19 19:00:00,65.642509,0.0,0.01860,0.156497,1010002388,0.0,0.01860
109222,2020-03-19 19:00:00,65.676132,0.0,0.00237,0.156518,1010002391,0.0,0.00237

In [6]:
# frame['station_id'].unique()

In [58]:
# temp = []
# for i,j in frame.iterrows():
#     if j['station_id'] not in temp:
#         temp.append(int(j['station_id']))

# Loading file in reset folder qlink1 top of segment qlink2 bottom

In [59]:



import xarray as xr

ds = xr.open_dataset('/home/APD/inland_hydraulics/wrf-hydro-run/restart/HYDRO_RST.2020-03-19_18:00_DOMAIN1')
df = ds.to_dataframe()

In [60]:
df

                   qlink1       qlink2       resht      qlakeo
lakes links
0     0          2.340000     2.340000   63.590000  193.179993
      1          1.810000     1.810000   63.590000  193.179993
      2          1.860000     1.860000   63.590000  193.179993
      3          5.180000     5.180000   63.590000  193.179993
      4         23.959999    23.959999   63.590000  193.179993
...                   ...          ...         ...         ...
503   109218  1912.250000  1912.250000  151.230667    0.000000
      109219    65.500000    65.500000  151.230667    0.000000
      109220    65.619995    65.619995  151.230667    0.000000
      109221    65.739998    65.739998  151.230667    0.000000
      109222    65.760002    65.760002  151.230667    0.000000

[55048392 rows x 4 columns]

# code from DongHa

In [61]:
import pandas as pd
data = pd.read_csv('Pocono_ql_testsamp1_nwm_mc.txt', sep="\t",header=None)

In [62]:
data

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,nt,ntt,2.743016e+06,2.743020e+06,4.185243e+06,4.185255e+06,4.185259e+06,4.185325e+06,4.185341e+06,4.185407e+06,...,4.185531e+06,4.185535e+06,4.185637e+06,4.185533e+06,4.186249e+06,4.185519e+06,4.185539e+06,4.185569e+06,4.185631e+06,4.186169e+06
1,1,0,1.717700e+00,1.157700e+00,9.938000e-01,1.586800e+00,1.500000e+00,1.373700e+00,1.386200e+00,1.350200e+00,...,2.071100e+00,1.649700e+00,9.667000e-01,1.670700e+00,1.356400e+00,1.257600e+00,1.450700e+00,2.354400e+00,3.811900e+00,2.151300e+00
2,2,1,1.717700e+00,1.157700e+00,9.938000e-01,1.586800e+00,1.500000e+00,1.373700e+00,1.386200e+00,1.350200e+00,...,2.071100e+00,1.649700e+00,9.667000e-01,1.670700e+00,1.356400e+00,1.257600e+00,1.450700e+00,2.354400e+00,3.811900e+00,2.151300e+00
3,3,2,1.717700e+00,1.157700e+00,9.938000e-01,1.586800e+00,1.500000e+00,1.373700e+00,1.386200e+00,1.350200e+00,...,2.071100e+00,1.649700e+00,9.667000e-01,1.670700e+00,1.356400e+00,1.257600e+00,1.450700e+00,2.354400e+00,3.811900e+00,2.151300e+00
4,4,3,1.717700e+00,1.157700e+00,9.938000e-01,1.586800e+00,1.500000e+00,1.373700e+00,1.386200e+00,1.350200e+00,...,2.071100e+00,1.649700e+00,9.667000e-01,1.670700e+00,1.356400e+00,1.257600e+00,1.450700e+00,2.354400e+00,3.811900e+00,2.151300e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,8,139,1.090000e-02,1.149000e-01,7.690000e-02,7.500000e-03,1.400000e-03,7.900000e-03,1.090000e-02,4.780000e-02,...,7.470000e-02,4.000000e-04,3.996000e-01,5.100000e-02,1.445000e-01,1.000000e-04,7.000000e-04,5.000000e-03,2.496000e-01,1.852000e-01
141,9,140,1.090000e-02,1.149000e-01,7.690000e-02,7.500000e-03,1.400000e-03,7.900000e-03,1.090000e-02,4.780000e-02,...,7.470000e-02,4.000000e-04,3.996000e-01,5.100000e-02,1.445000e-01,1.000000e-04,7.000000e-04,5.000000e-03,2.496000e-01,1.852000e-01
142,10,141,1.090000e-02,1.149000e-01,7.690000e-02,7.500000e-03,1.400000e-03,7.900000e-03,1.090000e-02,4.780000e-02,...,7.470000e-02,4.000000e-04,3.996000e-01,5.100000e-02,1.445000e-01,1.000000e-04,7.000000e-04,5.000000e-03,2.496000e-01,1.852000e-01
143,11,142,1.090000e-02,1.149000e-01,7.690000e-02,7.500000e-03,1.400000e-03,7.900000e-03,1.090000e-02,4.780000e-02,...,7.470000e-02,4.000000e-04,3.996000e-01,5.100000e-02,1.445000e-01,1.000000e-04,7.000000e-04,5.000000e-03,2.496000e-01,1.852000e-01
144,12,143,1.090000e-02,1.149000e-01,7.690000e-02,7.500000e-03,1.400000e-03,7.900000e-03,1.090000e-02,4.780000e-02,...,7.470000e-02,4.000000e-04,3.996000e-01,5.100000e-02,1.445000e-01,1.000000e-04,7.000000e-04,5.000000e-03,2.496000e-01,1.852000e-01

# id list

In [154]:
DHList = data.iloc[0][2:].unique()
DHList

array([2743016.0, 2743020.0, 4185243.0, 4185255.0, 4185259.0, 4185325.0,
       4185341.0, 4185407.0, 4185447.0, 4185481.0, 4185497.0, 4185541.0,
       4186105.0, 4186133.0, 4186159.0, 4186163.0, 2743014.0, 4185271.0,
       4185375.0, 4185395.0, 4185439.0, 4185509.0, 4185595.0, 4186107.0,
       4186111.0, 4186119.0, 4186149.0, 2743398.0, 2743400.0, 4185571.0,
       4186117.0, 4186231.0, 2743396.0, 4185305.0, 4186141.0, 4186127.0,
       4186145.0, 4185463.0, 4186229.0, 4185397.0, 4186147.0, 4185467.0,
       4186237.0, 4185501.0, 4185531.0, 4185535.0, 4185637.0, 4185533.0,
       4186249.0, 4185519.0, 4185539.0, 4185569.0, 4185631.0, 4186169.0],
      dtype=object)

# checking for an idea or ids from DHlist

In [155]:
selectdf = pd.DataFrame(columns=frame.columns)
for i,j in frame.iterrows():
    if j['station_id'] == 2743020:
        selectdf.loc[i]=(j)
selectdf

Empty DataFrame
Columns: [streamflow, nudge, q_lateral, velocity, station_id, qSfcLatRunoff, qBucket]
Index: []

In [101]:
frame.head()

   streamflow  nudge  q_lateral  velocity  station_id  qSfcLatRunoff  qBucket
0    1.417163    0.0    0.13697  0.326531    14828145            0.0  0.13697
1    0.630760    0.0    0.00943  0.209569     7069483            0.0  0.00943
2    1.349287    0.0    0.00823  0.277640     7069499            0.0  0.00823
3    4.180715    0.0    0.01241  0.385742    14172539            0.0  0.01241
4   21.188623    0.0    0.11880  0.132911     6689073            0.0  0.11880

In [156]:
# goofy = pd.DataFrame(columns=frame.columns)
# for i,j in frame.head().iterrows():
#     goofy.loc[i]=j
# #     goofy.append({frame.columns[0]:j[0],frame.columns[1]:j[1],frame.columns[2]:j[2],frame.columns[3]:j[3],frame.columns[4]:j[4],frame.columns[5]:j[5],frame.columns[6]:j[6]},ignore_index=True)
# goofy

In [142]:
frame.columns[0]

'streamflow'

In [117]:
frame.columns

Index(['streamflow', 'nudge', 'q_lateral', 'velocity', 'station_id',
       'qSfcLatRunoff', 'qBucket'],
      dtype='object')