In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.ones((5, 5)))
df1[8] = 1
df2 = pd.DataFrame(np.ones((5, 10)))
list1 = list(df1.columns)
list2 = list(df2.columns)

set1 = set(list1)
set2 = set(list2)

# missing = list(sorted(set1 - set2))
added = list(sorted(set2 - set1))
def zerolistmaker(n):
    listofzeros = [0] * n
    return listofzeros
zeros_list = zerolistmaker(len(added))
df1 = df1.join(pd.DataFrame(
    [zeros_list], 
    index=df1.index, 
    columns=added
))
column_list = sorted(list(df1.columns))
df1 = df1[column_list]
adjustment_loc = []
for i in list(df1.columns):
    if (df1[i] == 0).all() and (df1[i-1] != 0).all():
        adjustment_loc.append(df1[i].name)
adjustment_loc  
for i in adjustment_loc:
    df1[i] = (df1[i]+df2[i])/2
    if df1[i].name != list(df1.columns)[-1]:
        df1[i+1] = (df1[i]+df2[i])/2
for i in df1.columns:
    if (df1[i] == 0).all():
        df1[i] = np.NaN
for i in list(df2.columns):
    if df1[i].isnull().values.any():
        pass
    else:
        df2[i] = (df1[i])
df2

     0    1    2    3    4    5     6    7  8    9
0  1.0  1.0  1.0  1.0  1.0  0.5  0.75  1.0  1  0.5
1  1.0  1.0  1.0  1.0  1.0  0.5  0.75  1.0  1  0.5
2  1.0  1.0  1.0  1.0  1.0  0.5  0.75  1.0  1  0.5
3  1.0  1.0  1.0  1.0  1.0  0.5  0.75  1.0  1  0.5
4  1.0  1.0  1.0  1.0  1.0  0.5  0.75  1.0  1  0.5